In [1]:
# Import de las librer√≠as
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
np.__version__

'1.19.5'

In [3]:
pd.__version__

'1.1.5'

In [6]:
# Importar dataset
df = pd.read_csv("https://raw.githubusercontent.com/marcusRB/IDbootcamps_DataScience_student_PT_10201/master/dataset/earthquakes.csv",
                 sep=",", index_col=False)
df

     alert  ...                                                url
0      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
1      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
2      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
3      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
4      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
...    ...  ...                                                ...
9327   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9328   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9329   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9330   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9331   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...

[9332 rows x 26 columns]

# EDA Exploratory Data Analysis

In [7]:
df.head()

  alert  cdi  ...        updated                                                url
0   NaN  NaN  ...  1539475395144  https://earthquake.usgs.gov/earthquakes/eventp...
1   NaN  NaN  ...  1539475253925  https://earthquake.usgs.gov/earthquakes/eventp...
2   NaN  4.4  ...  1539536756176  https://earthquake.usgs.gov/earthquakes/eventp...
3   NaN  NaN  ...  1539475196167  https://earthquake.usgs.gov/earthquakes/eventp...
4   NaN  NaN  ...  1539477547926  https://earthquake.usgs.gov/earthquakes/eventp...

[5 rows x 26 columns]

In [8]:
df.tail()

     alert  ...                                                url
9327   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9328   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9329   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9330   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9331   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...

[5 rows x 26 columns]

In [16]:
# Mostrar una muestra de n observaciones
df.sample(5, random_state=17) # el random_state 42, 17, 66, 000, 0, 1

     alert  ...                                                url
6944   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
1874   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
7897   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
4088   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
7373   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...

[5 rows x 26 columns]

In [17]:
# buscamos la forma que tiene nuestro dataframe
df.shape

(9332, 26)

In [18]:
df.shape[0]

9332

In [19]:
# Observamos las columnas
df.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url'],
      dtype='object')

In [20]:
# Informaci√≥n del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   alert    59 non-null     object
 1   cdi      329 non-null    float64
 2   code     9332 non-null   object
 3   detail   9332 non-null   object
 4   dmin     6139 non-null   float64
 5   felt     329 non-null    float64
 6   gap      6164 non-null   float64
 7   ids      9332 non-null   object
 8   mag      9331 non-null   float64
 9   magType  9331 non-null   object
 10  mmi      93 non-null     float64
 11  net      9332 non-null   object
 12  nst      5364 non-null   float64
 13  place    9332 non-null   object
 14  rms      9332 non-null   float64
 15  sig      9332 non-null   int64
 16  sources  9332 non-null   object
 17  status   9332 non-null   object
 18  time     9332 non-null   int64
 19  title    9332 non-null   object
 20  tsunami  9332 non-null   int64
 21  type     9332 non-null   object
 22  types    9332 non-null   object
 23  tz       9331 non-null   float64
 24  updated  9332 non-null   int64
 25  url      9332 non-null   object
dtypes: float64(9), int64(4), object(13)
memory usage: 1.9+ MB

In [21]:
# Descubrimiento de los valores estad√≠sticos
df.describe()

              cdi         dmin  ...           tz       updated
count  329.000000  6139.000000  ...  9331.000000  9.332000e+03
mean     2.754711     0.544925  ...  -451.990140  1.538537e+12
std      1.010637     2.214305  ...   231.752571  6.564135e+08
min      0.000000     0.000648  ...  -720.000000  1.537230e+12
25%      2.000000     0.020425  ...  -540.000000  1.537996e+12
50%      2.700000     0.059050  ...  -480.000000  1.538621e+12
75%      3.300000     0.177250  ...  -480.000000  1.539110e+12
max      8.400000    53.737000  ...   720.000000  1.539537e+12

[8 rows x 13 columns]

In [22]:
# Comprobamos el tipo dataframe 
type(df)

pandas.core.frame.DataFrame

In [23]:
# comprobamos si el dataframe es vac√≠o
df.empty

False

In [24]:
df

     alert  ...                                                url
0      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
1      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
2      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
3      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
4      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
...    ...  ...                                                ...
9327   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9328   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9329   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9330   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9331   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...

[9332 rows x 26 columns]

In [25]:
# Existe unas opciones que nos permiten ampliar el margen del dataframe
pd.get_option("display.max_columns") # recoge la info de las columnas, y la muestra en pantalla

0

In [28]:
pd.set_option("display.max_columns", 26) # configuramos a 26 las columnas a mostrar

In [29]:
df

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,mmi,net,nst,place,rms,sig,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,NaN,ci,26.0,"9km NE of Aguanga, CA",0.19,28,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,NaN,ci,20.0,"9km NE of Aguanga, CA",0.29,26,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,NaN,ci,111.0,"8km NE of Aguanga, CA",0.22,192,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,NaN,ci,26.0,"9km NE of Aguanga, CA",0.17,3,",ci,",automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,NaN,nc,18.0,"10km NW of Avenal, CA",0.05,72,",nc,",automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9327,NaN,NaN,73086771,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.018060,NaN,185.0,",nc73086771,",0.62,md,NaN,nc,13.0,"9km ENE of Mammoth Lakes, CA",0.03,6,",nc,",reviewed,1537230228060,"M 0.6 - 9km ENE of Mammoth Lakes, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1537285598315,https://earthquake.usgs.gov/earthquakes/eventp...
9328,NaN,NaN,38063967,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.030410,NaN,50.0,",ci38063967,",1.00,ml,NaN,ci,28.0,"3km W of Julian, CA",0.21,15,",ci,",reviewed,1537230135130,"M 1.0 - 3km W of Julian, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1537276800970,https://earthquake.usgs.gov/earthquakes/eventp...
9329,NaN,NaN,2018261000,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.452600,NaN,276.0,",pr2018261000,",2.40,md,NaN,pr,9.0,"35km NNE of Hatillo, Puerto Rico",0.41,89,",pr,",reviewed,1537229908180,"M 2.4 - 35km NNE of Hatillo, Puerto Rico",0,earthquake,",geoserve,origin,phase-data,",-240.0,1537243777410,https://earthquake.usgs.gov/earthquakes/eventp...
9330,NaN,NaN,38063959,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.018650,NaN,61.0,",ci38063959,",1.10,ml,NaN,ci,27.0,"9km NE of Aguanga, CA",0.10,19,",ci,",reviewed,1537229545350,"M 1.1 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537230211640,https://earthquake.usgs.gov/earthquakes/eventp...
9331,NaN,NaN,38063935,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.016980,NaN,39.0,",ci38063935,",0.66,ml,NaN,ci,24.0,"9km NE of Aguanga, CA",0.10,7,",ci,",reviewed,1537228864470,"M 0.7 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537305830770,https://earthquake.usgs.gov/earthquakes/eventp...

In [30]:
# Alternativa
pd.options.display.max_columns = 26

In [31]:
# Si quiero resetear esta opci√≥n
pd.reset_option('display.max_columns')

In [32]:
# Si queremos observar la gu√≠a
pd.describe_option('display')

display.chop_threshold : float or None
    if set to a float value, all float values smaller then the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]
display.column_space No description available.
    [default: 12] [currently: 12]
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table (the default from 0.13), or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]
display.latex.escape : bool
    This specifies if the to_latex method of a Dataframe uses escapes special
    characters.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.longtable :bool
    This specifies if the to_latex method of a Dataframe uses the longtable
    format.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.multicolumn : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.multicolumn_format : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: l] [currently: l]
display.latex.multirow : bool
    This specifies if the to_latex method of a Dataframe uses multirows
    to pretty-print MultiIndex rows.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.repr : boolean
    Whether to produce a latex DataFrame representation for jupyter
    environments that support it.
    (default: False)
    [default: False] [currently: False]
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 0] [currently: 0]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]
display.max_info_rows : int or None
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]
display.max_seq_items : int or None
    when pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]
display.precision : int
    Floating point output precision (number of significant digits). This is
    only a suggestion
    [default: 6] [currently: 6]
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]

In [33]:
# La alternativa de pd.Dataframe.info
df.dtypes

alert       object
cdi        float64
code        object
detail      object
dmin       float64
felt       float64
gap        float64
ids         object
mag        float64
magType     object
mmi        float64
net         object
nst        float64
place       object
rms        float64
sig          int64
sources     object
status      object
time         int64
title       object
tsunami      int64
type        object
types       object
tz         float64
updated      int64
url         object
dtype: object

In [34]:
# Mostramos los estad√≠sticos b√°sico pero con opciones
df.describe(percentiles=[0.05, 0.95])

              cdi         dmin  ...           tz       updated
count  329.000000  6139.000000  ...  9331.000000  9.332000e+03
mean     2.754711     0.544925  ...  -451.990140  1.538537e+12
std      1.010637     2.214305  ...   231.752571  6.564135e+08
min      0.000000     0.000648  ...  -720.000000  1.537230e+12
5%       2.000000     0.005491  ...  -600.000000  1.537387e+12
50%      2.700000     0.059050  ...  -480.000000  1.538621e+12
95%      4.300000     2.678900  ...   -60.000000  1.539400e+12
max      8.400000    53.737000  ...   720.000000  1.539537e+12

[8 rows x 13 columns]

In [35]:
# Solo mostramos los valores object
df.describe(include=np.object)

        alert  ...                                                url
count      59  ...                                               9332
unique      2  ...                                               9332
top     green  ...  https://earthquake.usgs.gov/earthquakes/eventp...
freq       58  ...                                                  1

[4 rows x 13 columns]

In [36]:
# Directamente podemos utilizar el argumento include='all' para incluir todos los atributos
df.describe(include='all')

        alert  ...                                                url
count      59  ...                                               9332
unique      2  ...                                               9332
top     green  ...  https://earthquake.usgs.gov/earthquakes/eventp...
freq       58  ...                                                  1
mean      NaN  ...                                                NaN
std       NaN  ...                                                NaN
min       NaN  ...                                                NaN
25%       NaN  ...                                                NaN
50%       NaN  ...                                                NaN
75%       NaN  ...                                                NaN
max       NaN  ...                                                NaN

[11 rows x 26 columns]

In [37]:
# si deseamos conocer los estad√≠sticos de una feature
df.rms.describe()

count    9332.000000
mean        0.362122
std         0.317784
min         0.000000
25%         0.119675
50%         0.210000
75%         0.590000
max         1.910000
Name: rms, dtype: float64

In [38]:
# Similar con este otro m√©todo equivalente
df['rms'].describe()

count    9332.000000
mean        0.362122
std         0.317784
min         0.000000
25%         0.119675
50%         0.210000
75%         0.590000
max         1.910000
Name: rms, dtype: float64

# Investigamos por cada una de las features o atributos

In [39]:
type(df['rms'])

pandas.core.series.Series

In [40]:
# aplicamos medidas de agregaci√≥n
df['rms'].count()

9332

In [41]:
df['rms'].nunique() # devolver√° valores √∫nicos

823

In [42]:
df['alert']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
9327    NaN
9328    NaN
9329    NaN
9330    NaN
9331    NaN
Name: alert, Length: 9332, dtype: object

In [44]:
df.alert.nunique() # nos contabilizar√° 2 valores √∫nicos

2

In [45]:
df.alert.unique()

array([nan, 'green', 'red'], dtype=object)

In [46]:
# Otra forma de contar y agrupar por valores √∫nicos
df['alert'].value_counts()

green    58
red       1
Name: alert, dtype: int64

In [47]:
# Lo mismo para los valores num√©ricos
df.rms.value_counts()

0.1200    253
0.1300    250
0.0300    247
0.1500    228
0.0400    223
         ...
0.0999      1
0.1171      1
0.1275      1
0.1771      1
0.0882      1
Name: rms, Length: 823, dtype: int64

# Subset de un dataframe
Es obtener un dataframe m√°s peque√±o de n filas y/o m columnas para poderlas manipular de manera m√°s eficiente.

In [48]:
df.mag # obtenemos los valores de un solo atributo

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
        ...
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64

In [49]:
df['mag'] # es lo mismo que el m√©todo anterior

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
        ...
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64

In [51]:
# Seleccionaremos solo 3 columnas
df[['mag', 'alert', 'title']]

       mag alert                                     title
0     1.35   NaN             M 1.4 - 9km NE of Aguanga, CA
1     1.29   NaN             M 1.3 - 9km NE of Aguanga, CA
2     3.42   NaN             M 3.4 - 8km NE of Aguanga, CA
3     0.44   NaN             M 0.4 - 9km NE of Aguanga, CA
4     2.16   NaN             M 2.2 - 10km NW of Avenal, CA
...    ...   ...                                       ...
9327  0.62   NaN      M 0.6 - 9km ENE of Mammoth Lakes, CA
9328  1.00   NaN               M 1.0 - 3km W of Julian, CA
9329  2.40   NaN  M 2.4 - 35km NNE of Hatillo, Puerto Rico
9330  1.10   NaN             M 1.1 - 9km NE of Aguanga, CA
9331  0.66   NaN             M 0.7 - 9km NE of Aguanga, CA

[9332 rows x 3 columns]

In [52]:
# Equivalente al m√©todo anterior ser√≠a declarar las columnas previamente
cols = ['mag', 'alert', 'title']
df[cols]

       mag alert                                     title
0     1.35   NaN             M 1.4 - 9km NE of Aguanga, CA
1     1.29   NaN             M 1.3 - 9km NE of Aguanga, CA
2     3.42   NaN             M 3.4 - 8km NE of Aguanga, CA
3     0.44   NaN             M 0.4 - 9km NE of Aguanga, CA
4     2.16   NaN             M 2.2 - 10km NW of Avenal, CA
...    ...   ...                                       ...
9327  0.62   NaN      M 0.6 - 9km ENE of Mammoth Lakes, CA
9328  1.00   NaN               M 1.0 - 3km W of Julian, CA
9329  2.40   NaN  M 2.4 - 35km NNE of Hatillo, Puerto Rico
9330  1.10   NaN             M 1.1 - 9km NE of Aguanga, CA
9331  0.66   NaN             M 0.7 - 9km NE of Aguanga, CA

[9332 rows x 3 columns]

In [60]:
# Tambi√©n podemos utilizar las list comprehension
df[
   ['title', 'alert', 'rms'] +
   [col for col in df.columns if col.startswith('mag')]
]

                                         title alert   rms   mag magType
0                M 1.4 - 9km NE of Aguanga, CA   NaN  0.19  1.35      ml
1                M 1.3 - 9km NE of Aguanga, CA   NaN  0.29  1.29      ml
2                M 3.4 - 8km NE of Aguanga, CA   NaN  0.22  3.42      ml
3                M 0.4 - 9km NE of Aguanga, CA   NaN  0.17  0.44      ml
4                M 2.2 - 10km NW of Avenal, CA   NaN  0.05  2.16      md
...                                        ...   ...   ...   ...     ...
9327      M 0.6 - 9km ENE of Mammoth Lakes, CA   NaN  0.03  0.62      md
9328               M 1.0 - 3km W of Julian, CA   NaN  0.21  1.00      ml
9329  M 2.4 - 35km NNE of Hatillo, Puerto Rico   NaN  0.41  2.40      md
9330             M 1.1 - 9km NE of Aguanga, CA   NaN  0.10  1.10      ml
9331             M 0.7 - 9km NE of Aguanga, CA   NaN  0.10  0.66      ml

[9332 rows x 5 columns]

In [63]:
# Poder analizar solo unas determinadas columnas
cols_c = [col for col in df.columns if col.startswith('c')]
cols_c

['cdi', 'code']

In [69]:
# eXplicando el c√≥digo de arriba y a√±anidos un separador de l√≠nea \
['title','time'] \
+ [col for col in df.columns if col.startswith('mag')] # el resultado obtenido

['title', 'time', 'mag', 'magType']

In [70]:
# Realizamos operaciones de slicing
df[10:100] # mostrar√° las filas desde el √≠ndice 10 hasta el 100-1 (99)

   alert  cdi  ...        updated                                                url
10   NaN  NaN  ...  1539472054436  https://earthquake.usgs.gov/earthquakes/eventp...
11   NaN  NaN  ...  1539500530876  https://earthquake.usgs.gov/earthquakes/eventp...
12   NaN  NaN  ...  1539471147309  https://earthquake.usgs.gov/earthquakes/eventp...
13   NaN  NaN  ...  1539493516040  https://earthquake.usgs.gov/earthquakes/eventp...
14   NaN  NaN  ...  1539473045436  https://earthquake.usgs.gov/earthquakes/eventp...
..   ...  ...  ...            ...                                                ...
95   NaN  NaN  ...  1539465377799  https://earthquake.usgs.gov/earthquakes/eventp...
96   NaN  NaN  ...  1539482676266  https://earthquake.usgs.gov/earthquakes/eventp...
97   NaN  NaN  ...  1539443661357  https://earthquake.usgs.gov/earthquakes/eventp...
98   NaN  NaN  ...  1539443661049  https://earthquake.usgs.gov/earthquakes/eventp...
99   NaN  NaN  ...  1539443660763  https://earthquake.usgs.gov/earthquakes/eventp...

[90 rows x 26 columns]

In [71]:
# Filtramos por columnas y filas
df[['title', 'mag']][50:101]

                                                 title   mag
50                M 2.4 - 65km SSW of Kaktovik, Alaska  2.40
51                 M 2.2 - 78km SW of Kaktovik, Alaska  2.20
52                  M 2.5 - 61km S of Cantwell, Alaska  2.50
53                   M 0.2 - 61km N of Pahrump, Nevada  0.20
54                  M 1.5 - 4km SSW of Carpinteria, CA  1.46
55   M 4.6 - 242km NNW of Farallon de Pajaros, Nort...  4.60
56               M 2.2 - 2km WNW of Manhattan, Montana  2.21
57          M 2.1 - 109km NW of Arctic Village, Alaska  2.10
58                  M 1.8 - 17km SE of Volcano, Hawaii  1.83
59                M 2.2 - 2km WNW of Big Bear City, CA  2.15
60            M 1.4 - 5km WNW of San Juan Bautista, CA  1.44
61           M 2.1 - 30km NNW of Santa Barbara Is., CA  2.07
62                    M 0.9 - 6km NNW of Pinnacles, CA  0.86
63             M 0.1 - 6km NW of Lemmon Valley, Nevada  0.10
64         M 2.0 - 131km WNW of Arctic Village, Alaska  2.00
65                    M 2.8 - 6km NNW of Pinnacles, CA  2.76
66         M 2.2 - 22km E of Honaunau-Napoopoo, Hawaii  2.24
67                    M 4.6 - 160km NNW of Nago, Japan  4.60
68                     M 1.1 - 1km SE of Placentia, CA  1.14
69                      M 1.5 - 6km NNE of Banning, CA  1.45
70                    M 0.4 - 18km NW of Parkfield, CA  0.35
71            M 0.7 - 36km ENE of Big Pine, California  0.70
72                 M 0.7 - 58km NNE of Pahrump, Nevada  0.70
73   M 2.4 - 70km N of Tierras Nuevas Poniente, Pue...  2.43
74               M 1.7 - 74km NW of Larsen Bay, Alaska  1.70
75                  M 1.1 - 6km WNW of The Geysers, CA  1.12
76           M 1.5 - 77km NNW of New Allakaket, Alaska  1.50
77                      M 0.6 - 11km NE of Aguanga, CA  0.62
78                 M 0.5 - 59km NNE of Pahrump, Nevada  0.50
79                      M 0.1 - 13km S of Reno, Nevada  0.10
80       M 2.0 - 21km ENE of Honaunau-Napoopoo, Hawaii  2.01
81                   M 1.4 - 93km ENE of Kobuk, Alaska  1.40
82         M 1.7 - 123km NNW of Arctic Village, Alaska  1.70
83                  M 0.8 - 5km NNW of The Geysers, CA  0.83
84          M 1.1 - 14km NE of East Quincy, California  1.10
85            M 1.4 - 41km NNW of North Nenana, Alaska  1.40
86              M 1.4 - 28km N of North Nenana, Alaska  1.40
87                  M 0.0 - 57km SSW of Beatty, Nevada  0.00
88           M 1.8 - 11km WNW of Sutton-Alpine, Alaska  1.80
89                  M 2.0 - 50km E of Cantwell, Alaska  2.00
90                    M 3.2 - 6km NNW of Pinnacles, CA  3.22
91                  M 4.7 - 32km SE of Muisne, Ecuador  4.70
92              M 4.6 - 150km E of Luganville, Vanuatu  4.60
93            M 0.8 - 6km S of Palomar Observatory, CA  0.75
94         M 1.9 - 10km SSE of Redoubt Volcano, Alaska  1.90
95                  M 1.6 - 3km NNE of The Geysers, CA  1.57
96              M 0.9 - 60km E of Big Pine, California  0.90
97                M 1.3 - 45km WSW of Big Lake, Alaska  1.30
98                 M 1.8 - 66km SW of Cantwell, Alaska  1.80
99         M 1.6 - 112km NNW of Arctic Village, Alaska  1.60
100                   M 1.2 - 25km NW of Ester, Alaska  1.20

In [72]:
# La alternativa
cols = ['title', 'mag']
df[cols][50:101] # es equivalente a df[['title', 'mag']][50:101]

                                                 title   mag
50                M 2.4 - 65km SSW of Kaktovik, Alaska  2.40
51                 M 2.2 - 78km SW of Kaktovik, Alaska  2.20
52                  M 2.5 - 61km S of Cantwell, Alaska  2.50
53                   M 0.2 - 61km N of Pahrump, Nevada  0.20
54                  M 1.5 - 4km SSW of Carpinteria, CA  1.46
55   M 4.6 - 242km NNW of Farallon de Pajaros, Nort...  4.60
56               M 2.2 - 2km WNW of Manhattan, Montana  2.21
57          M 2.1 - 109km NW of Arctic Village, Alaska  2.10
58                  M 1.8 - 17km SE of Volcano, Hawaii  1.83
59                M 2.2 - 2km WNW of Big Bear City, CA  2.15
60            M 1.4 - 5km WNW of San Juan Bautista, CA  1.44
61           M 2.1 - 30km NNW of Santa Barbara Is., CA  2.07
62                    M 0.9 - 6km NNW of Pinnacles, CA  0.86
63             M 0.1 - 6km NW of Lemmon Valley, Nevada  0.10
64         M 2.0 - 131km WNW of Arctic Village, Alaska  2.00
65                    M 2.8 - 6km NNW of Pinnacles, CA  2.76
66         M 2.2 - 22km E of Honaunau-Napoopoo, Hawaii  2.24
67                    M 4.6 - 160km NNW of Nago, Japan  4.60
68                     M 1.1 - 1km SE of Placentia, CA  1.14
69                      M 1.5 - 6km NNE of Banning, CA  1.45
70                    M 0.4 - 18km NW of Parkfield, CA  0.35
71            M 0.7 - 36km ENE of Big Pine, California  0.70
72                 M 0.7 - 58km NNE of Pahrump, Nevada  0.70
73   M 2.4 - 70km N of Tierras Nuevas Poniente, Pue...  2.43
74               M 1.7 - 74km NW of Larsen Bay, Alaska  1.70
75                  M 1.1 - 6km WNW of The Geysers, CA  1.12
76           M 1.5 - 77km NNW of New Allakaket, Alaska  1.50
77                      M 0.6 - 11km NE of Aguanga, CA  0.62
78                 M 0.5 - 59km NNE of Pahrump, Nevada  0.50
79                      M 0.1 - 13km S of Reno, Nevada  0.10
80       M 2.0 - 21km ENE of Honaunau-Napoopoo, Hawaii  2.01
81                   M 1.4 - 93km ENE of Kobuk, Alaska  1.40
82         M 1.7 - 123km NNW of Arctic Village, Alaska  1.70
83                  M 0.8 - 5km NNW of The Geysers, CA  0.83
84          M 1.1 - 14km NE of East Quincy, California  1.10
85            M 1.4 - 41km NNW of North Nenana, Alaska  1.40
86              M 1.4 - 28km N of North Nenana, Alaska  1.40
87                  M 0.0 - 57km SSW of Beatty, Nevada  0.00
88           M 1.8 - 11km WNW of Sutton-Alpine, Alaska  1.80
89                  M 2.0 - 50km E of Cantwell, Alaska  2.00
90                    M 3.2 - 6km NNW of Pinnacles, CA  3.22
91                  M 4.7 - 32km SE of Muisne, Ecuador  4.70
92              M 4.6 - 150km E of Luganville, Vanuatu  4.60
93            M 0.8 - 6km S of Palomar Observatory, CA  0.75
94         M 1.9 - 10km SSE of Redoubt Volcano, Alaska  1.90
95                  M 1.6 - 3km NNE of The Geysers, CA  1.57
96              M 0.9 - 60km E of Big Pine, California  0.90
97                M 1.3 - 45km WSW of Big Lake, Alaska  1.30
98                 M 1.8 - 66km SW of Cantwell, Alaska  1.80
99         M 1.6 - 112km NNW of Arctic Village, Alaska  1.60
100                   M 1.2 - 25km NW of Ester, Alaska  1.20

In [73]:
# El orden no importa
df[50:101][cols].equals(df[cols][50:101])

True

# Realizar subset de datos con operaciones de indexing: `iloc` y `loc`

In [75]:
# La funci√≥n loc[] utilizar√° llamando los nombres de filas y columnas
subset_1 = df.loc[10:101, 'title'] # el slice start y end completos.
subset_1

10                        M 0.5 - 10km NE of Aguanga, CA
11     M 2.8 - 53km SE of Punta Cana, Dominican Republic
12                         M 0.5 - 9km NE of Aguanga, CA
13            M 4.5 - 120km SSW of Banda Aceh, Indonesia
14                      M 2.1 - 14km NW of Parkfield, CA
                             ...
97                  M 1.3 - 45km WSW of Big Lake, Alaska
98                   M 1.8 - 66km SW of Cantwell, Alaska
99           M 1.6 - 112km NNW of Arctic Village, Alaska
100                     M 1.2 - 25km NW of Ester, Alaska
101                 M 0.6 - 8km ESE of Mammoth Lakes, CA
Name: title, Length: 92, dtype: object

In [76]:
# Observamos el tipo de objeto creado
type(subset_1)

pandas.core.series.Series

In [78]:
df.loc[110:112, 'title'] = df.loc[110:112, 'title'].str.lower()
df.loc[110:112, 'title']

110               m 1.1 - 35km s of ester, alaska
111    m 1.9 - 93km wnw of arctic village, alaska
112      m 0.9 - 20km wsw of smith valley, nevada
Name: title, dtype: object

In [79]:
df.loc[:,'mag']

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
        ...
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64

In [81]:
# Si deseamos a√±adir m√°s columnas
subset_2 = df.loc[10:15, ['title','mag','time']]
subset_2

                                                title   mag           time
10                     M 0.5 - 10km NE of Aguanga, CA  0.50  1539471831030
11  M 2.8 - 53km SE of Punta Cana, Dominican Republic  2.77  1539471621260
12                      M 0.5 - 9km NE of Aguanga, CA  0.50  1539470934710
13         M 4.5 - 120km SSW of Banda Aceh, Indonesia  4.50  1539470898340
14                   M 2.1 - 14km NW of Parkfield, CA  2.13  1539470851950
15       M 2.0 - 156km WNW of Haines Junction, Canada  2.00  1539470304219

In [85]:
cols = ['title','mag','time']
subset_3 = df.loc[10:15, cols]
subset_3

                                                title   mag           time
10                     M 0.5 - 10km NE of Aguanga, CA  0.50  1539471831030
11  M 2.8 - 53km SE of Punta Cana, Dominican Republic  2.77  1539471621260
12                      M 0.5 - 9km NE of Aguanga, CA  0.50  1539470934710
13         M 4.5 - 120km SSW of Banda Aceh, Indonesia  4.50  1539470898340
14                   M 2.1 - 14km NW of Parkfield, CA  2.13  1539470851950
15       M 2.0 - 156km WNW of Haines Junction, Canada  2.00  1539470304219

In [86]:
subset_2.equals(subset_3)

True

In [87]:
# M√©todo con iloc, que ser√≠a b√∫squeda por posici√≥n
df.iloc[10:15, [19, 8]] # columnas pos 19 y pos 8

                                                title   mag
10                     M 0.5 - 10km NE of Aguanga, CA  0.50
11  M 2.8 - 53km SE of Punta Cana, Dominican Republic  2.77
12                      M 0.5 - 9km NE of Aguanga, CA  0.50
13         M 4.5 - 120km SSW of Banda Aceh, Indonesia  4.50
14                   M 2.1 - 14km NW of Parkfield, CA  2.13

In [89]:
# Realizar una slice de columnas
df.iloc[50:101, 6:11] # omite la √∫ltima fila y la √∫ltima columna

        gap                      ids   mag magType  mmi
50      NaN             ,ak20280381,  2.40      ml  NaN
51      NaN             ,ak20280377,  2.20      ml  NaN
52      NaN             ,ak20280372,  2.50      ml  NaN
53   232.14             ,nn00660865,  0.20      ml  NaN
54    71.00             ,ci37388978,  1.46      ml  NaN
55   124.00             ,us1000hbrc,  4.60      mb  NaN
56    73.00             ,mb80314199,  2.21      ml  NaN
57      NaN             ,ak20280369,  2.10      ml  NaN
58   140.00             ,hv70649957,  1.83      ml  NaN
59    35.00             ,ci37388970,  2.15      ml  NaN
60   103.00             ,nc73096846,  1.44      md  NaN
61    77.00             ,ci37388954,  2.07      ml  NaN
62   163.00             ,nc73096836,  0.86      md  NaN
63   146.38             ,nn00660883,  0.10      ml  NaN
64      NaN             ,ak20280363,  2.00      ml  NaN
65    50.00  ,nc73096831,us1000hbqe,  2.76      md  NaN
66    95.00             ,hv70649847,  2.24      ml  NaN
67    72.00             ,us1000hbqa,  4.60      mb  NaN
68    62.00             ,ci37388906,  1.14      ml  NaN
69    35.00             ,ci37388898,  1.45      ml  NaN
70   173.00             ,nc73096811,  0.35      md  NaN
71   185.18             ,nn00660903,  0.70      ml  NaN
72   136.46             ,nn00660856,  0.70      ml  NaN
73   295.00           ,pr2018286006,  2.43      md  NaN
74      NaN             ,ak20280349,  1.70      ml  NaN
75   130.00             ,nc73096796,  1.12      md  NaN
76      NaN             ,ak20280347,  1.50      ml  NaN
77    47.00             ,ci37388890,  0.62      ml  NaN
78   265.57             ,nn00660851,  0.50      ml  NaN
79   166.08             ,nn00660881,  0.10      ml  NaN
80   124.00             ,hv70649732,  2.01      ml  NaN
81      NaN             ,ak20280344,  1.40      ml  NaN
82      NaN             ,ak20280343,  1.70      ml  NaN
83    88.00             ,nc73096781,  0.83      md  NaN
84   125.08             ,nn00660880,  1.10      ml  NaN
85      NaN             ,ak20280338,  1.40      ml  NaN
86      NaN             ,ak20280339,  1.40      ml  NaN
87   217.52             ,nn00660901,  0.00      ml  NaN
88      NaN             ,ak20280334,  1.80      ml  NaN
89      NaN             ,ak20280328,  2.00      ml  NaN
90    50.00  ,nc73096771,us1000hbp6,  3.22      ml  NaN
91   144.00             ,us1000hbp3,  4.70      mb  NaN
92   132.00             ,us1000hbp4,  4.60      mb  NaN
93    54.00             ,ci37388818,  0.75      ml  NaN
94      NaN             ,ak20280325,  1.90      ml  NaN
95    49.00             ,nc73096766,  1.57      md  NaN
96    88.54             ,nn00660828,  0.90      ml  NaN
97      NaN             ,ak20280318,  1.30      ml  NaN
98      NaN             ,ak20280314,  1.80      ml  NaN
99      NaN             ,ak20280313,  1.60      ml  NaN
100     NaN             ,ak20280310,  1.20      ml  NaN

In [90]:
# Podemos evaluar los dos m√©todos loc e iloc
df.iloc[10:15, 6:10].equals(
    df.loc[10:14, 'gap':'magType']
)

True

# Uso de filtros

In [91]:
# Si a√±adimos una condici√≥n
df.mag > 3

0       False
1       False
2        True
3       False
4       False
        ...
9327    False
9328    False
9329    False
9330    False
9331    False
Name: mag, Length: 9332, dtype: bool

In [92]:
# El m√©todo anterior en el contexto dataframe entero
df[df.mag > 3] # devolver√° n filas cuando la condici√≥n sea True o 1

     alert  ...                                                url
2      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
13     NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
36     NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
55     NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
...    ...  ...                                                ...
9309   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9311   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9316   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9319   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9321   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...

[892 rows x 26 columns]

In [93]:
# Utilizamos loc y la condici√≥n para crear un nuevo subset
subset_4 = df.loc[
                  df.mag >= 7.,
                  ['alert','mag','magType','title','type']
]
subset_4

      alert  mag  ...                                       title        type
837   green  7.0  ...  M 7.0 - 117km E of Kimbe, Papua New Guinea  earthquake
5263    red  7.5  ...           M 7.5 - 78km N of Palu, Indonesia  earthquake

[2 rows x 5 columns]

## Lab 01

buscamos de las columnas: 
```
alert, mag, magType, title, type, tsunami, time
```
las filas que cumplan las condiciones 
- tsunami igual 1 y/o alert igual a red.

In [ ]:
#